<h1> Listing All ToDos </h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% @todos.each do |todo| %>
    <tr>
      <td> <%= todo.name %> </td>
      <td> <%= todo.description %> </td>
    </tr>
  <% end %>


</table>
